# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Model checkpoints
*.pt
*.pth
*.ckpt

# WandB
wandb/

# Outputs
outputs/
figures/output/
